{% extends 'blog/base.html' %}
{% load blog_tags %}

{% load crispy_forms_tags %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="my-1 p-1 bg-white rounded shadow-sm">
{% if query %}

    <h1>Posts containing {{ query }}</h1>
    <h3>
        {% with results.count as total_results %}
        Found {{ total_results }} result{{ total_results|pluralize }}
        {% endwith %}
    </h3>
    {% for post in results %}
    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
    {{ post.body|markdown|truncatewords_html:5 }}
    {% empty %}
    <div class="mb-1 text-muted"><p>There are no results for your query...</p></div>
    {% endfor %}

    <p><a href="{% url 'blog:post_search' %}">Search again</a></p>
{% else %}
<h1>Search for posts</h1>
<form method="GET">
    {{ form|crispy }}
    <input type="submit" value="search">
</form>

{% endif %}
</div>
{% endblock %}
